/* Common styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Set the background image */
    background-image: url('./Images/plenio_background.jpg');
    /* Specify background properties */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Do not repeat the background */
}

.container {
    width: 100%;
    min-height: 100vh; /* Change height to min-height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    max-width: 600px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: rgb(35, 47, 80);
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Navigation styles */
nav {
    background-color: rgb(35, 47, 80);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgb(0, 0, 0);
}

/* Service cards */
.services-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.service-card {
    width: calc(25% - 20px); /* Adjust the width of each card to fit four cards in a row with a 20px gap */
    margin-bottom: 20px;
    background-color: #17386844;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    max-width: 90%; /* Adjusted max-width to take up 90% of the screen width */
    margin: 0 auto; /* Center the container horizontally */
}

.service-card i {
    margin: 20px auto;
    font-size: 24px;
}

.service-card div {
    padding: 20px;
}

.service-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Other Styles */
.contact-input, textarea {
    font-family: Arial, sans-serif;
}

.left-align {
    text-align: left;
}

/* Custom animation for service cards */
.service-card:hover {
    transform: translateY(-5px);
}