/* Common styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Background image */
    background-image: url('/Images/plenio_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navigation styles */
nav {
    background: linear-gradient(to bottom, #16171aec, #0b226982);
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: #fff;
    margin-left: 60px;
    font-size: 1.7em;
    font-family: 'Kefa', Bold, serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px; /* Adjusted padding for the text */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li:last-child a {
    margin-right: 40px; /* Adjusted margin for the last link */
}

nav ul li a:hover {
    background-color: #555;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content {
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.latest-news-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: left;
}

.latest-news-container h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.news-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.news-item h3 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 5px;
}

.news-item p {
    color: #777;
    margin-bottom: 10px;
}

.news-item:hover {
    background-color: #e0e0e0;
}

.image-slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.image-slider img {
    width: 100%;
    height: auto;
    display: none;
}

/* Button styles */
.index-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.index-btn:hover {
    background-color: #555;
}

/* Testimonial styles */
.testimonial-container {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
}

.testimonial {
    margin-bottom: 20px;
}

.testimonial p {
    font-style: italic;
    color: #666;
}

/* Video background styles */
.video-container {
    position: relative;
    height: 500px;
    background-color: #000;
    overflow: hidden;
    margin-bottom: 30px;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.video-overlay h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Interactive elements */
.interactive-element {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.interactive-element:hover {
    background-color: #555;
}

/* Service cards */
.services-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.service-card {
    width: calc(25% - 20px); /* Adjust the width of each card to fit four cards in a row with a 20px gap */
    margin-bottom: 20px;
    background-color: #ffffffa3;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
    .service-card {
        width: 90%; /* Set width to 90% for single column layout on mobile */
    }
}

.service-card i {
    margin: 20px auto;
    font-size: 24px;
}

.service-card div {
    padding: 20px;
}

.service-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Other Styles */
.contact-input, textarea {
    font-family: Arial, sans-serif;
}

.left-align {
    text-align: left;
}

/* Custom animation for service cards */
.service-card:hover {
    transform: translateY(-5px);
}
